@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Borrar Concierto</title>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/js/logica.js"></script>
</head>
<body>
    <div class="principal-textB">
        <h2>MY BAND TOUR</h2>
        <h1>INTERNATIONAL</h1>
    </div>
    <div class="center">
        <button class="b" id="btnRegresar">
            Regresar
        </button>
        <div class="bubble">
            <input type="text" id="codigoConcierto" placeholder="Código del concierto a eliminar" />
        </div>
        <button class="b" id="btnEliminar">
            Eliminar
        </button>
        <!--<div id="mensaje" class="message"></div>--> <!-- Espacio para mensajes -->
    </div>
</body>
</html>

