
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BorrarConcierto</title>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="principal-textB">
        <h2>MY BAND TOUR</h2>
        <h1>INTERNATIONAL</h1>
    </div>
    <div class="center">
        <button class="b">
            Regresar
        </button>
        <div class="bubble">
            <input type="text" placeholder="Código del concierto a eliminar">
        </div>
        <button class="b">
            Eliminar
        </button>
    </div>
</body>
</html>
