
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
            <h1>Logo</h1>
        <div class="Login-box">
            <div class="username">
                <input type="text" placeholder="Username">
            </div>
            <div class="password">
                <input type="password" placeholder="Password">
            </div>
            <button id="login_btn" class="login_btn">Enter</button>
        </div>
    </div>
</body>
</html>
