
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainPageAdmin</title>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/js/logica.js"></script>
</head>
<body>
    <!-- Menú lateral -->
    <div class="leftside">
        <div class="menu">
            <img src="~/Content/imgs/icon1.png" />
            <img src="~/Content/imgs/icon2.png" />
            <button id="menu-button">☰</button>
        </div>
    </div>

    <!-- Contenido principal -->
    <div class="main-content" id="main-content">
        <div class="principal-text">
            <h2>MY BAND TOUR</h2>
            <h1>INTERNATIONAL</h1>
        </div>
        <div class="admin-buttons">
            <button class="b" onclick="Agregar_btn()">Agregar Concierto</button>
            <button class="b" onclick="Borrar_btn()">Borrar Concierto</button>
            <button class="b" onclick="Modificar_btn()">Modificar Concierto</button>
            <button class="b" onclick="Salir_btn()">Salir de Administrador</button>
        </div>
        <div class="container-input">
            <input type="text" id="searchBox" placeholder="Search">
        </div>
    </div>
    <!-- Conciertos -->
    <div class="Concerts">
        <h2>Próximos Conciertos</h2>
        <table id="tablaConciertos">
            <thead>
                <tr>
                    <th>Nombre de la Banda</th>
                    <th>Género</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>País</th>
                    <th>Dirección</th>
                </tr>
            </thead>
        </table>
    </div>

</body>
</html>
