
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My band tour</title>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- Menú lateral -->
    <div class="leftside">
        <div class="menu">
            <img src="~/Content/imgs/icon1.png" />
            <img src="~/Content/imgs/icon2.png" />
            <button id="menu-button">☰</button>
        </div>
    </div>

    <!-- Contenido principal -->
    <div class="main-content" id="main-content">
        <div class="principal-text">
            <h2>MY BAND TOUR</h2>
            <h1>INTERNATIONAL</h1>
        </div>
        <!-- Texto del login -->
        <div class="Login-text">
            <button class="Login-button">@Html.ActionLink("Login Admin","Login","Main")</button>
        </div>
        <!-- Icono -->
        <img src="~/Content/imgs/icon3.png" class="icon3" />
        <div class="container-input">
            <input type="text" placeholder="Search">
        </div>
    </div>
    <!-- Conciertos -->
    <div class="Concerts">
    </div>

</body>
</html>
