
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modificar_Concierto</title>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="main-crear">
        <button class="b" id="btnRegresar">Regresar</button>
        <select class="bubble">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>

        </select>
        <div class="bubble">
            <input type="text" id="nombreBanda" placeholder="Nombre de la banda">
        </div>
        <div class="bubble">
            <input type="text" id="generoBanda" placeholder="Género de la banda">
        </div>
        <div class="bubble">
            <input type="date" id="fechaConcierto" placeholder="Fecha del concierto">
        </div>
        <div class="bubble">
            <input type="time" id="horaConcierto" placeholder="Hora del concierto">
        </div>
        <div class="bubble">
            <input type="text" id="pais" placeholder="País donde se realiza">
        </div>
        <div class="bubble">
            <input type="text" id="direccionConcierto" placeholder="Dirección del evento">
        </div>
        <button class="b" id="btnCrearConcierto">Modificar Concierto</button>
    </div>
</body>
</html>
