@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modificar Concierto</title>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/js/logica.js"></script>
</head>
<body>
    <div class="main-crear">
        <button class="b" id="btnRegresar">Regresar</button>

        <div class="bubble">
            <input type="text" id="idConcierto" placeholder="ID de Concierto">
        </div>
        <div class="bubble">
            <input type="text" id="nombreBanda" placeholder="Nombre de la banda">
        </div>
        <div class="bubble">
            <input type="text" id="generoBanda" placeholder="Género de la banda">
        </div>
        <div class="bubble">
            <input type="date" id="fechaConcierto" placeholder="Fecha del concierto">
        </div>
        <div class="bubble">
            <input type="time" id="horaConcierto" placeholder="Hora del concierto">
        </div>
        <div class="bubble">
            <input type="text" id="pais" placeholder="País donde se realiza">
        </div>
        <div class="bubble">
            <input type="text" id="direccionConcierto" placeholder="Dirección del evento">
        </div>

        <button class="b" id="btnModificarConcierto">Modificar Concierto</button>
    </div>
</body>
</html>

