################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Proyecto_progra/.vs/Proyecto_progra/FileContentIndex/a3700336-a175-456c-9f48-2b6970d6da32.vsidx
/Proyecto_progra/.vs/Proyecto_progra/FileContentIndex/c1851078-d87f-4430-aa39-16c36a94e37f.vsidx
/Proyecto_progra/.vs/Proyecto_progra/FileContentIndex/11835128-0769-4402-833c-9d6aa7f0960a.vsidx
/Proyecto_progra/.vs/Proyecto_progra/FileContentIndex/37186dd5-b216-4fa5-89d2-fcb4779b1401.vsidx
/Proyecto_progra/.vs/Proyecto_progra/FileContentIndex/80aa5641-2978-4d40-8501-2b760499bf55.vsidx
/Proyecto_progra/.vs/Proyecto_progra/FileContentIndex/9d7167f4-1a49-4d57-82ee-09126d67a7d0.vsidx
*.vsidx
