################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Proyecto_progra/.vs/Proyecto_progra/FileContentIndex/a3700336-a175-456c-9f48-2b6970d6da32.vsidx
/Proyecto_progra/.vs/Proyecto_progra/FileContentIndex/c1851078-d87f-4430-aa39-16c36a94e37f.vsidx
/Proyecto_progra/.vs/Proyecto_progra/FileContentIndex/4be422c9-6d9b-4e3f-a386-8079ac04bd1a.vsidx
