################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Proyecto_progra/.vs/Proyecto_progra/FileContentIndex/a3700336-a175-456c-9f48-2b6970d6da32.vsidx
