* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    appearance: none;
    background-color: #b01a03;
}

.principal-text {
    color: #0f0c0c;
    max-width: 500px;
}


.main-content {
    margin-left: 100px;
    padding: 20px;
    max-width: 800px;
}

.Login-text {
    max-width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.icon3 {
    position: fixed; 
    bottom: 0;
    right: 0;
}

.Concerts {
    position: relative;
    top: 70px;
    background-color: #0f0c0c;
    border-radius: 10px;
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    height: 500px;
    text-align: center;
}

.Login-button{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.Login-button:hover{
    color: #cbb282;
}


.container-input {
    text-align: center;
    position: relative;
    left: 33%;
    top: 50px;
    display: flex;
    background-color: #0f0c0c;
    border-radius: 20px;
    padding: 5px 15px;
    width: 90%;
    max-width: 800px;
    width: 800px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.container-input input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: #9f7f54;
    font-size: 16px;
    padding: 10px;
    }

.container-input input::placeholder {
    color: #9f7f54;
}


.leftside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}


.leftside button {
    width: 70px;
    height: 70px;
    background: none;
    border: none;
    color: #9f7f54;
    font-size: 50px;
    cursor: pointer;
 }

.menu img {
    width: 70px;
    height: 70px;
    padding: 10px;
    object-fit: cover;
    border-radius: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.main h1 {
    margin-bottom: 20px;
    font-size: 30px;
}


.Login-box button {
    font-size: 36px;
    border-radius: 20px;
    color: #9f7f54;
    background-color: #0f0c0c;
    cursor: pointer;
    width: 250px;
}

.Login-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.username {
    position: relative;
    background-color: #0f0c0c;
    border-radius: 20px;
    padding: 5px 15px;
    width: 90%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.username input{
    width: 250px;
    border: none;
    outline: none;
    background: transparent;
    color: #9f7f54;
    font-size: 16px;
    padding: 10px;
}

.username input::placeholder{
    color: #9f7f54;
}

.password {
    text-align: center;
    position: relative;
    background-color: #0f0c0c;
    border-radius: 20px;
    padding: 5px 15px;
    width: 90%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.password input{
    width: 250px;
    border: none;
    outline: none;
    background: transparent;
    color: #9f7f54;
    font-size: 16px;
    padding: 10px;
}

.password input::placeholder{
    color: #9f7f54;
}


.main-crear {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: baseline;
    margin-left: 100px;
    gap: 15px;
}

.main-crear input::placeholder{
      color: #9f7f54;
}

.bubble {
    position: relative;
    background-color: #0f0c0c;
    border-radius: 20px;
    padding: 5px 15px;
    width: 90%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    max-width: 400px;
}

.main-crear input {
    width: 370px;
    border: none;
    outline: none;
    background: transparent;
    color: #9f7f54;
    font-size: 16px;
    padding: 10px;
}

.b{
    font-size: 25px;
    border-radius: 20px;
    color: #9f7f54;
    background-color: #0f0c0c;
    cursor: pointer;
    width: 200px;
}

.center {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: baseline;
    margin-left: 100px;
    gap: 15px;
}

    .center input {
        width: 370px;
        border: none;
        outline: none;
        background: transparent;
        color: #9f7f54;
        font-size: 16px;
        padding: 10px;
    }

.center input::placeholder{
       color: #9f7f54;
}

.principal-textB {
    margin-left: 120px;
}